@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
     body{
        background-image: url('../uploads/vote.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: rgba(62, 211, 16, 0.5);
        font-family: 'Josefin Sans', sans-serif;
        background-blend-mode: overlay;
        color:white;
        min-height: 100vh;
    }

    .mid {
        position: relative;
        margin-top: 5%;
    }

    .navbar {
        background-color: #81c644 !important;
        z-index: 2;
    }
    .formclass{
        padding: 10px;
        width:40%;
        background-color: #81c644;
        font-size: 1.1em;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .formclass .form-control{
        height: 7vh;
        margin-bottom: 2px;
    }
    .formclass .btn-primary{
        margin-top:12px;
        background-color: #2c500c;
        border: 1px solid #2c500c;
        border-radius: 30px;
        font-weight: 600;
        font-size: 1.2em;
        padding: 5px 20px;
    }
    .formclass .link a{
        margin:10px,0px;
        color: black;
        font-size: 0.8em;
    }
    .formclass .signup{
        margin:15px;
        text-align: center;
        font-size: 0.8em;
    }
    .formclass .signup a{
        color: black;
        font-weight: 500;
    }

    /* for vote.php css */
    .election_list {
        margin: 10vh;
        color: black;
    }
    
    .election_list .bg_color{
        background-color: #bdf78b;;
    }



/* index page css */

    .last_election{
        background-color: white;
        color: black !important;
        padding: 10px;
        width:40%;
        margin: auto;
    }
    .last_election .heading h3{
       color:crimson;
       font-weight: 600;
    }
    .last_election .head-top{
       color: brown;
    }
    .last_election .row{
        -webkit-box-shadow: 2px 4px 31px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 31px -8px rgba(0,0,0,0.75);
box-shadow: 2px 4px 31px -8px rgba(0,0,0,0.75);
       border-collapse: collapse;
       margin:15px 3px;
       padding: 5px;
    }

    .upcoming_result{
        background-color: white;
        color: black !important;
        padding: 10px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }